html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 20px;
  margin-bottom: 80px;
}

.nav-header h1 {
  display: inline-block;
  margin-top: 0px;
}

.nav-header ul {
  float: right;
  margin-top: 17px;
  border-bottom: none;
}

.headerSortdesc,
.headerSortasc {
  position: relative;
}

.headerSortdesc:after,
.headerSortasc:after {
  top:0;
  font-family: "FontAwesome";
  margin-left: 10px;
  content: "\f077";
}

.headerSortasc:after {
  content: "\f078";
}

#footer {
  height: 80px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget iframe[style]  {width: 100% !important;}