html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 20px;
  margin-bottom: 80px;
}

.nav-header h1 {
  display: inline-block;
  margin-top: 0px;
}

.nav-header ul {
  float: right;
  margin-top: 17px;
  border-bottom: none;
}

.headerSortdesc,
.headerSortasc {
  position: relative;
}

.headerSortdesc:after,
.headerSortasc:after {
  top:0;
  font-family: "FontAwesome";
  margin-left: 10px;
  content: "\f077";
}

.headerSortasc:after {
  content: "\f078";
}

#footer {
  height: 80px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#pwstrengthpos, #pwstrengthneg {
	box-sizing: content-box;
}

span.password-strength table {
	text-align: right;
	border-spacing: 10px 6px;
	border-collapse: separate;
}

span.password-strength {
	display: inline-block;
	vertical-align: bottom;
}

table.ticketrating {
  display: table;
  width: auto;
  border: 0;
  border-spacing: 1px; /* 2px ? */
  border-collapse: separate;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 11px;
  -moz-box-sizing: border-box;
  text-indent: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}
table.ticketrating td {
  display: table-cell;
  min-width: 16px;
  line-height: 16px;
  vertical-align: inherit;
  text-align: inherit;
  padding: 0;
  border: 0;
}
table.ticketrating td.point {
    cursor: pointer;
    cursor: hand;
}
table.ticketrating td.star {
    background: url('../../../images/rating_neg.png');
    cursor: pointer;
    cursor: hand;
}

